pandas
numpy
seaborn
matplotlib
scikit-learn
catboost
xgboost
dill
Flask

# connecting to setup.py
# we can directly install setup.py or we can run it while running requirements.txt
# to enable that
-e .